azure-core==1.41.0
azure-identity==1.25.3
asn1crypto==1.5.1
c2pa-python==0.37.7
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.0
idna==3.18
logging==0.4.9.6
pycparser==3.0
PyJWT==2.13.0
pywin32==312; sys_platform=='win32'
requests==2.34.2
six==1.17.0
typing_extensions==4.16.0
urllib3==2.7.0
